numpy==1.26.4
panda-gym==3.0.7
gymnasium==0.29.1
opencv-contrib-python==4.11.0.86
mediapipe==1.0.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
PyYAML==6.0.2
psutil==7.0.0
pytest==8.3.5
matplotlib==3.11.2
pillow==12.3.0
